@keyframes ripplesX{
  0%{
    opacity: 1;
    transform: scaleX(1);
  }
  100%{
    opacity: 0;
    transform: scaleX(1.5);
  }
}

@keyframes ripplesY{
  0%{
    opacity: 1;
    transform: scaleY(1);
  }
  100%{
    opacity: 0;
    transform: scaleY(1.5);
  }
}

@keyframes hit{
  0%{
    opacity: 1;
    transform: scale(0);
  }
  100%{
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes boom{
  0%{
    background-color: red;
  }
  100%{
    background-color: rgb(189, 184, 184);
  }
}



*{
  box-sizing: border-box;
}
*::before{
  box-sizing: border-box;
}
*::after{
  box-sizing: border-box;
}

body{
  background-image: url('../images/radar2.jpeg') ;
  /* background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(14,255,0,1) 61%, rgba(9,9,121,1) 99%); */
  height: 100vh;
  /* background-repeat: no-repeat; */
  background-size: 100%;
  background-position:-6px ;
  
}

.container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid-container{
  display: flex;
  justify-content: center;
  width: 100%;
  /* justify-content: space-around; */
  /* margin-top: 24px; */
}

.user-board{
  margin-right: 80px;
}

.computer-board{
  margin-left: 80px;
}

.grid-user{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(72, 175, 235);
  margin: 20px;
  /* margin-right: 200PX; */
}

.grid-computer{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(72, 175, 235);
  margin: 20px;
  /* margin-left: PX; */
}

.grid-computer > .taken{
  background-color: rgb(72, 175, 235)!important;
}

.grid-display{
  display: flex;
}


.grid div{
  width: 40px;
  height: 40px;
  border: 1px solid rgba(104, 250, 75, 0.521) ;
}

.grid-title{
  font-family: 'New Tegomin', serif;
  color: white;
  text-shadow: 0px 0px 14px #5ef770;
}

.btn{
  background-color: rgb(94, 247, 111);
  padding: .5em 1em;
  border-radius: 2em;
  color: black;
  font-size: inherit;
  font-family: 'New Tegomin', serif;
  /* text-shadow: 0px 0px 4px white; */
}

.btn:hover, .btn:focus{
  background-color: rgb(69, 182, 82);
  
}

.hidden-info{
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text{
  margin: 1rem;
  color: white;
  text-shadow: 0px 0px 14px #5ef770;
  font-family: 'New Tegomin', serif;
  text-align: center;
}

.grid-title{
  text-align: center;
}

.title{
  text-align: center;
  margin: 0;
  font-family:  'Staatliches', cursive;
  font-size: 50px;
  letter-spacing: 3px;
  /* color: white; */
  text-shadow: 0px 0px 14px #5ef770;
}

/* SHIPS */


.ship div{
  height: 40px;
  width: 40px;

}

.destroyer-container{
  width: 80px;
  height: 40px;
  margin: 10px;
  display: flex;
  
}

.destroyer-container-verticle{
  width: 40px;
  height: 80px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container{
  width: 120px;
  height: 40px;
  margin: 10px;
  display: flex;
}

.submarine-container-verticle{
  width: 40px;
  height: 120px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cruiser-container{
  width: 120px;
  height: 40px;
  margin: 10px;
  display: flex;
}

.cruiser-container-verticle{
  width: 40px;
  height: 120px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.battleship-container{
  width: 160px;
  height: 40px;

  margin: 10px;
  display: flex;
}

.battleship-container-verticle{
  width: 40px;
  height: 160px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;

}

.carrier-container{
  width: 200px;
  height: 40px;
  margin: 10px;
  display: flex;
}

.carrier-container-verticle{
  width: 40px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.miss, .boom{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after, .miss::after{
  content:'';
  position: absolute;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.boom::after{
  background-color: red;
}

.miss::after{
  background-color:white;
}

.taken, .ship {
  background-color: rgb(189, 184, 184);
  position: relative;
}

.taken.start.verticle, .taken.start.verticle::before{
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.taken.end.verticle, .taken.end.verticle::before{
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.start.horizontal, .taken.start.horizontal::before{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.taken.end.horizontal, .taken.end.horizontal::before{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.verticle::before, .taken.horizontal::before{
  content: '';
  position: absolute;
  border: .3vmin solid white;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.taken.verticle::before{
  animation: ripplesX 3s linear infinite;
  border-top: none;
  border-bottom: none;
}

.taken.horizontal::before{
  animation: ripplesY 3s linear infinite;
  border-left: none;
  border-right: none;
}

.ship{
  border-radius: 5vmin;
}

.miss::before{
  content: '';
  position: absolute;
  animation: hit .2s ease-out forwards;
  border: 1vmin solid white;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}


.boom{
  animation: boom .2s ease-out forwards;
}