.container{
  display: flex;
}


.grid-user{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  margin: 20px;
}

.grid-computer{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: seagreen;
  margin: 20px;
}

.grid-display{
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: yellow;
}


.grid div{
  width: 40px;
  height: 40px;
}

/* SHIPS */
.ship div{
  height: 40px;
  width: 40px;

}

.destroyer-container{
  width: 80px;
  height: 40px;
  background-color: orange;
  margin: 10px;
  display: flex;
}

.destroyer-container-verticle{
  width: 40px;
  height: 80px;
  background-color: orange;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container{
  width: 120px;
  height: 40px;
  background-color: red;
  margin: 10px;
  display: flex;
}

.submarine-container-verticle{
  width: 40px;
  height: 120px;
  background-color: red;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cruiser-container{
  width: 120px;
  height: 40px;
  background-color: green;
  margin: 10px;
  display: flex;
}

.cruiser-container-verticle{
  width: 40px;
  height: 120px;
  background-color: green;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.battleship-container{
  width: 160px;
  height: 40px;
  background-color: lightseagreen;
  margin: 10px;
  display: flex;
}

.battleship-container-verticle{
  width: 40px;
  height: 160px;
  background-color: lightseagreen;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;

}

.carrier-container{
  width: 200px;
  height: 40px;
  background-color: purple;
  margin: 10px;
  display: flex;
}

.carrier-container-verticle{
  width: 40px;
  height: 200px;
  background-color: purple;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.destroyer{
  background-color: orange;
}

.submarine{
  background-color: red;
}

.cruiser{
  background-color: green;
}

.battleship{
  background-color: lightseagreen;
}

.carrier{
  background-color: purple;
}